<div id="resume-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="Resume">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Google font for resume -->
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
            <div class="modal-subcontainer">
                <div id="resume-head" class="text-center modal-head">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <img src="./assets/img/close.svg">
                    </button>
                    <h1>Hernan Perrone</h1>
                    <h6>Capital Federal, Argentina | hhernanperrone@gmail.com</h6>
                    <p>Desarrollador y diseñador de JavaScript y Java Full-Stack interesado en contribuir con pensamiento lógico, creatividad y experiencia profesional para completar proyectos web modernos.</p>
                </div>
                <div id="resume-body">
                    <h3>Conocimientos</h3>
                    <article>
                        <ul class="circle-list">
                            <li>Conocimiento sólido de los estándares actuales HTML, CSS, Javascript, Java y compatibilidad entre navegadores.</li>
                            <li>Experiencia de front-end con diseño receptivo, CSS3, AJAX, JQuery y Bootstrap.</li>
                            <li>Experiencia de back-end con Node.js, Express, Java, Authorization / Authentication y API RESTful.</li>
                            <li>Mentalidad de programación orientada a objetos y patrones de diseño con Angular como marco principal de MVC.</li>
                            <li>Gestión eficiente del flujo de trabajo con Bash, Git, Gulp / Grunt, Yarn / npm / Bower y Sass.</li>
                            <li>Administración de bases de datos relacionales y no relacionales usando MongoDB, Firebase y SQL.</li>
                            <li>Actitud positiva, fuerte ética de trabajo, pensamiento innovador y alto nivel de integridad profesional.</li>
                            <li>Calificaciones bilingües como hablante intermido de inglés, aleman y español.</li>
                        </ul>
                    </article>
                    <h3>Experiencia</h3>
                    <article>
                        <h4>Analista funcional - Desarrollador | Leadit/Neotel | Buenos Aires Argentina | 2017 - Present</h4>
                        <ul>
                            <li>Toma de requerimientos con el cliente.</li>
                            <li>Análisis de requerimientos.</li>
                            <li>Soporte técnico a clientes.</li>
                            <li>Solución de incidencias.</li>
                            <li>Análisis y desarrollo de CRM.</li>
                            <li>Implementación de servicios para callcenter.</li>
                        </ul>
                        <h4>Ejecutivo de cuentas | Mayday/Leadit | Buenos Aires, Argentina | 2017 - Present</h4>
                        <ul>
                            <li>Captación de clientes.</li>
                            <li>Seguimiento de proyectos en LATAM.</li>
                            <li>Capacitaciones de plataforma para Contact center y CRM.</li>
                            <li>Capacitaciones a operadores.</li>
                            <li>Armado de partidas presupuestarias.</li>
                            <li>Seguimiento de cuentas.</li>
                        </ul>
                        <h4>Customer Experience | Mayday | Buenos Aires, Argentina | 2017 - Present</h4>
                        <ul>
                            <li>Prospección de cuentas.</li>
                            <li>Coaching.</li>
                            <li>Asistencia en la creación de anuncios.</li>
                            <li>Armado y seguimiento de presupuestos.</li>
                        </ul>
                    </article>
                    <h3>Educacion</h3>
                    <article>
                        <h4>Contable Perito Mercantil | Naciones Unidas | Buenos Aires, Argentina | 2003 - 2008</h4>
                        <h4>Desarrollador Java Full-Stack | EducacionIT | Buenos Aires, Argentina | 2019 - 2021</h4>
                    </article>
                   
                    <article>
                        
                    </article>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
